form#hit_form {
  float: left;
  margin-right: 10px;
}
form#stay_form {
  float: left;
}

form#hit_form_dealer {
  float: left;
  margin-right: 10px;
}
form#stay_form_dealer {
  float: left;
}

img.card_image {
  margin: 0px 5px 5px 0px;
}
